<!-- Left Sidebar -->
<div class="col-lg-3 left-sidebar d-none d-lg-block">
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <a href="{% url 'home'%}">ALL</a>
      <span class="badge bg-primary rounded-circle px-2 py-1"
        >{{rooms_count}}</span
      >
    </li>
    {%for topic in topics %}
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <a href="{% url 'home'%}?topic={{topic.id}}">{{topic.name}}</a>
      <span class="badge bg-secondary rounded-circle px-2 py-1"
        >{{topic.room_set.all.count}}</span
      >
    </li>
    {% endfor %}
  </ul>
</div>
