<!-- prettier-ignore -->
{% extends 'layouts/default.html' %} 
{% block content  %}
<h1>Hello, world! index page</h1>

<div>
  <a href="{% url 'create-room' %}" class="btn btn-primary">New room</a>
</div>
<div>
  {%for room in rooms %}
  <div>
    <div>@{{room.host.username}}</div>
    <h2>{{ room.name }}</h2>
    <p>{{ room.status }}</p>
    <a href="{% url 'room' room.id %}">View room</a> |
    <span> <a href="{% url 'update-room' room.id %}">Edit</a> </span> |
    <span> <a href="{% url 'delete-room' room.id %}">Delete</a> </span>
    <p><small>{{ room.topic.name }}</small></p>
  </div>
  {% endfor %}
</div>

{% endblock content %}
